---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BlogCard from "../components/BlogCard.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog", ({ data }) => {
  return import.meta.env.PROD ? !data.draft : true;
});

const posts = allPosts.sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);
---

<BaseLayout title="Hannes Merkell">
  <Header />
  <main class="max-w-content mx-auto py-16">
    {
      posts.length > 0 && (
        <section class="flex flex-col">
          {posts.map((post) => (
            <BlogCard post={post} />
          ))}
        </section>
      )
    }
  </main>

  <Footer />
</BaseLayout>
